/* ----- Fuente de Google Fonts: Montserrat ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #B8AACA;
}

/* ----- Librería de colores ----- */
:root {
    --var-sky-blue: #36BBEB;
    --var-white: #f5f5f5;
    --var-dark-gray: #282A36;
    --var-light-gray: #bebebe;
    --var-red: #dc143c;
    --var-pink: #fa879e;
    --var-brown: #4b3211;
    --var-yellow: #D8973A;
    --var-green: #0f966d;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    color: var(--var-sky-blue);
    font-weight: bold;
}

main {
    min-height: 100vh;
}

main>div {
    background-color: var(--var-dark-gray);
    margin: 2rem auto;
    width: 80%;
    padding: 1rem;
    border-radius: 10px;

}

/* ----- Clases reutilizables ----- */
.link-nav {
    color: var(--var-white);
    text-decoration: none;
    cursor: pointer;
}

.link-prenda {
    text-decoration: none;
    color: var(--var-sky-blue);
    font-weight: bold;
    font-size: .8rem;
}

.error {
    margin: 0 auto;
    width: 90%;
    font-size: .9rem;
    color: var(--var-red);
    background-color: var(--var-pink);
    padding: .3rem;
    border-radius: 2px;
    border: solid 2px var(--var-red);
    visibility: hidden;
}

.error-activo {
    visibility: visible;
}

.exito {
    font-size: .9rem;
    color: var(--var-green);
    visibility: hidden;
}


.exito-activo {
    visibility: visible;
}

/* ----- Header ----- */
header img {
    max-width: 64px;
}

nav {
    background-color: var(--var-dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

nav ul {
    width: 80%;
    display: flex;
    gap: 1rem;
}

nav ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: var(--var-sky-blue);
    padding: .5rem 0;
    border-radius: 5px;
    color: var(--var-white);
    font-weight: bold;
}

#btn-buscar {
    padding: .5rem;
    border-radius: 5px;
    border-color: var(--var-sky-blue);
    color: var(--var-sky-blue);
    font-weight: bold;
    cursor: pointer;
}

/* ----- Footer ----- */
footer {
    padding: 1rem;
    min-height: 5vh;
    background-color: #282A36;
    color: var(--var-white);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ----- PÁGINA INDEX ----- */
/* ----- Portada - Index --- */
#portada {
    background: url("../img/shop-of-the-wild-logo.png") no-repeat 20% center, url("../img/portada.jpg") no-repeat center bottom;
    background-size: 30%, cover;
    min-height: 100vh;
    position: relative;

}

#card-usuario {
    position: absolute;
    right: 3rem;
    top: 2rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: #f5f5f554;
    box-shadow: 5px 5px 5px var(--var-dark-gray);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    display: none;
}

#card-usuario img {
    width: 100%;
    max-width: 100px;
}


/* ----- Primer sección - Index ----- */
#primer-seccion {
    min-height: 50vh;
    background: url("../img/papiro.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    text-align: center;
    color: var(--var-brown);
}

#primer-seccion div {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#primer-seccion p {
    font-weight: bold;
}

/* ----- Segunda sección - Index ----- */
#segunda-seccion {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;

}

#segunda-seccion h2 {
    color: var(--var-sky-blue);
}

#segunda-seccion>div {
    width: 100%;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
}

#lista-caracteristicas {
    flex: 1;
}

#lista-caracteristicas div {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px var(--var-sky-blue);
    padding: 1rem;
    width: 100%;
}

#lista-caracteristicas p {
    color: var(--var-white);
    padding: 1rem 0;
}

/* ----- Tercer sección - Index ----- */
#tercer-seccion div {
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tercer-seccion figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    color: var(--var-sky-blue);
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;

}

#tercer-seccion img {
    width: 100%;
    max-width: 130px;

}

#form-buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
}

#form-buscador svg {
    position: absolute;
    right: 9vw;

}

#campo-buscador {
    margin: 0 auto;
    width: 80%;
    padding: .8rem;
    border: solid 2px var(--var-sky-blue);
    border-radius: 5px;
}


/* ----- Cuarta sección - Index -----  */
#cuarta-seccion div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#cuarta-seccion figure {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--var-white);
    cursor: pointer;
    text-align: center;

}

#cuarta-seccion img {
    transition: all 1s ease;
}

#cuarta-seccion img:hover {
    transform: scale(1.1, 1.1);

}

/* ----- Quinta sección - Index -----  */
#comentarios {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#comentarios article {
    flex: 1;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#comentarios article>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#comentarios article div:nth-child(3) div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* ----- Sección prendas filtradas por Nav ----- */

.categorias-filtradas {
    display: none;
}

.categorias-filtradas-visible {
    display: block;
}

#filtradas-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#cuarta-seccion div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#filtradas-nav figure {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--var-white);
    cursor: pointer;
    text-align: center;

}

#filtradas-nav img {
    transition: all 1s ease;
}

#filtradas-nav img:hover {
    transform: scale(1.1, 1.1);

}

/* ----- PÁGINA DETALLE ----- */

/* ----- Portada - Detalle ----- */
#portada-detalle {
    min-height: 70vh;
    background: url(../img/portada-detalle.jpg)no-repeat center center;
    background-size: cover;
}

/* ----- Pimer sección - Detalle ----- */
#campo-detalle {
    display: flex;
    color: var(--var-white);
}

#div-interior2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.5rem;
}



/* ----- PÁGINA LOGIN / PÁGINA CONTACTO ----- */
.home-btn {
    background-color: var(--var-white);
    padding: .5rem;
    border-radius: 3px;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#home-btn-detalle {
    background-color: var(--var-sky-blue);
}

.login-fondo,
.contacto-fondo {
    position: absolute;
    background: url(../img/fondo.jpg) top center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-login {
    width: 400px;
    height: 500px;
    background: url("../img/fondo.jpg") center center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
}

#contenedor-login h1,
#contenedor-contacto h1 {
    font-size: 1.2rem;
    color: var(--var-brown);
    padding: .5rem 0;
}

#contenedor-login>a img {
    max-width: 100px;
    margin: 0 auto;
    position: absolute;
    top: -70px;
    left: 150px;
    display: inline-block;
}

#contenedor-login form label,
#contenedor-login form p,
#contenedor-contacto label {
    font-size: .8rem;
    font-weight: bold;
}

#contenedor-login form a {
    font-size: .8rem;
    font-weight: bold;
    color: var(--var-sky-blue);
    text-decoration: none;
}

#contenedor-login form div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#contenedor-login form div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: .8rem;
}


#contenedor-login input[type=text],
#contenedor-login input[type=password] {
    width: 90%;
    padding: .8rem;
    border: none;
    box-shadow: 2px 2px 3px var(--var-light-gray);
    border-radius: 5px;
}


#contenedor-login form div:nth-child(4) {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

}

.btn-celeste {
    background-color: var(--var-sky-blue);
    border: none;
    padding: .8rem 2rem;
    border-radius: 5px;
    color: var(--var-white);
    font-weight: bold;
    box-shadow: 2px 2px 3px var(--var-light-gray);
}

.btn-beige {
    background-color: var(--var-yellow);
    border: none;
    padding: .8rem 2rem;
    border-radius: 5px;
    color: var(--var-white);
    font-weight: bold;
    box-shadow: 2px 2px 3px var(--var-light-gray);
}


.saludo-login {
    display: none;
    color: var(--var-brown);
    border-radius: 5px;
    padding: 2rem;
    background: url(../img/fondo.jpg) center center;
    text-transform: uppercase;
    font-weight: bold;
}

.saludo-login-activo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#saludo-login img {
    width: 100%;
    max-width: 100px;
}

#saludo-login span {
    text-decoration: line-through;
}

#contenedor-contacto {
    width: 800px;
    height: 500px;
    background: url("../img/fondo.jpg") center center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
}

#contenedor-contacto>a img {
    max-width: 100px;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 350px;
    display: inline-block;
}

#contenedor-contacto form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

#contenedor-contacto form>div>div:nth-child(1) {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;

}

#contenedor-contacto form>div div:nth-child(1) div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

#contenedor-contacto input[type=text],
#contenedor-contacto input[type=email] {
    width: 100%;
    padding: .8rem;
    border: none;
    box-shadow: 2px 2px 3px var(--var-light-gray);
    border-radius: 5px;
}

#contenedor-contacto textarea {
    width: 90%;
    padding: .8rem;
    border: none;
    box-shadow: 2px 2px 3px var(--var-light-gray);
    border-radius: 5px;
}


#contenedor-contacto span {
    color: var(--var-red);
}